@font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/fonts/RethinkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/fonts/RethinkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/fonts/RethinkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Rethink Sans';
    src: url('./assets/fonts/RethinkSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  